<%- include("partials/header"); -%>

<div class="jumbotron text-center">
  <img src="/images/bus.png"  alt="bus images">  
  <h1>Coochie Bus</h1>
</div>

<h3>Help us get the bus on the road...</h3>
<p>Coochiemudlo Progress Association is planning a bus for the island. It will meet morning and afternoon peak hour ferries through the week, and run for tourists through the day on weekends. It won't run a set route, it is more like a taxi - you can hop on at the ferry, or pre-book it by phone. Having a bus should mean less people need to run an island car, and car parking down the front should clear up too.</p>
<p>On a small island, with low fares, we need support to get the bus on the road. We're looking for volunteers to drive the bus, and passengers willing to invest (for discount tickets once operational).</p>
<p>To bring the bus we need to become a certified operator, train drivers and ensure they all have DA's, and of course gather the needed volunteers, grant funds and investment money. We need time for all that - likely mid 2020 or later before we have it operational.</p>
<h3>Fares</h3>
<p>Once operational, we will charge the following fares:</p>
<table style="height: 111px;" width="640">
<tbody>
<tr>
<td style="background-color: skyblue; text-align: center; width: 206.183px;">
<h4><strong>FARE</strong></h4>
</td>
<td style="background-color: skyblue; text-align: center; width: 123.167px;">
<h4><strong>single</strong></h4>
</td>
<td style="background-color: skyblue; text-align: center; width: 141.333px;">
<h4><strong>12 trip</strong></h4>
</td>
<td style="background-color: skyblue; text-align: center; width: 141.317px;">
<h4><strong>60 trip</strong></h4>
</td>
</tr>
<tr>
<td style="background-color: gold; text-align: center; width: 206.183px;">student</td>
<td style="background-color: gold; text-align: center; width: 123.167px;">$1</td>
<td style="background-color: gold; text-align: center; width: 141.333px;">$10</td>
<td style="background-color: gold; text-align: center; width: 141.317px;">$45</td>
</tr>
<tr>
<td style="background-color: orange; text-align: center; width: 206.183px;">concession</td>
<td style="background-color: orange; text-align: center; width: 123.167px;">$2</td>
<td style="background-color: orange; text-align: center; width: 141.333px;">$20</td>
<td style="background-color: orange; text-align: center; width: 141.317px;">$90</td>
</tr>
<tr>
<td style="background-color: beige; text-align: center; width: 206.183px;">full fare</td>
<td style="background-color: beige; text-align: center; width: 123.167px;">$2.50</td>
<td style="background-color: beige; text-align: center; width: 141.333px;">$25</td>
<td style="background-color: beige; text-align: center; width: 141.317px;">$110</td>
</tr>
</tbody>
</table>
<h3>Invest</h3>
<p>For those who invest early, we will offer tickets as above at further discounts once the bus is operational. Investment can be lump sum, or simply a small recurring weekly or fortnightly payment.</p>
<p>For every dollar invested before April 2020 we will issue 2 tickets for the price of 1 once operational.</p>
<p>For every dollar invested from May 2020 until operation we will issue 3 tickets for the price of 2.</p>
<p>Read up on the detail, then invest with us.</p>
<h3>Volunteer</h3>
<p>We need many volunteers to drive! Shifts are 3 hours, and we'll cover training and licensing costs. Read up on the detail, then volunteer with us.</p>

<%- include("partials/footer"); -%>