<%- include("partials/header"); -%>

<div class="jumbotron text-center">
  <img src="/images/bus.png"  alt="bus images">  
  <h1>Coochie Bus</h1>
</div>

<h3>Help us get the bus on the road...</h3>
<p>Coochiemudlo Progress Association is planning a bus for the island. It will meet morning and afternoon peak hour ferries through the week, and run for tourists through the day on weekends. It won't run a set route, it is more like a taxi - you can hop on at the ferry, or pre-book it by phone.</p>
<p>On a small island, with low fares, we need support to get the bus on the road. We're looking for volunteers to drive the bus, and passengers willing to invest (for discount tickets once operational).</p>
<h3>Fares</h3>
<p>Once operational, we will charge the following fares:</p>
<table style="height: 111px;" width="640">
<tbody>
<tr>
<td style="background-color: skyblue; text-align: center; width: 206.183px;">
<h4><strong>FARE</strong></h4>
</td>
<td style="background-color: skyblue; text-align: center; width: 123.167px;">
<h4><strong>single</strong></h4>
</td>
<td style="background-color: skyblue; text-align: center; width: 141.333px;">
<h4><strong>12 trip</strong></h4>
</td>
<td style="background-color: skyblue; text-align: center; width: 141.317px;">
<h4><strong>60 trip</strong></h4>
</td>
</tr>
<tr>
<td style="background-color: gold; text-align: center; width: 206.183px;">student</td>
<td style="background-color: gold; text-align: center; width: 123.167px;">$1</td>
<td style="background-color: gold; text-align: center; width: 141.333px;">$10</td>
<td style="background-color: gold; text-align: center; width: 141.317px;">$45</td>
</tr>
<tr>
<td style="background-color: orange; text-align: center; width: 206.183px;">concession</td>
<td style="background-color: orange; text-align: center; width: 123.167px;">$2</td>
<td style="background-color: orange; text-align: center; width: 141.333px;">$20</td>
<td style="background-color: orange; text-align: center; width: 141.317px;">$90</td>
</tr>
<tr>
<td style="background-color: beige; text-align: center; width: 206.183px;">full fare</td>
<td style="background-color: beige; text-align: center; width: 123.167px;">$2.50</td>
<td style="background-color: beige; text-align: center; width: 141.333px;">$25</td>
<td style="background-color: beige; text-align: center; width: 141.317px;">$110</td>
</tr>
</tbody>
</table>
<h3>Invest</h3>
<p>The steering team (Russell, Roger, Kathleen and Liz) are pursuing grants especially for the cost of the bus itself, however we also need strong community support.</p>

<%- include("partials/footer"); -%>